<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Databases Transportation</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico">

    <!-- React JS -->
    <!-- React JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <!-- GOOGLE API JS -->
    <!-- <script type="text/jsx" src="/static/js/app.js"></script> -->

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/static/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/static/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/plugins/animate.css">
    <link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/theme-colors/blue.css"/>
</head>	

<body>
<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="/static/assets/img/logo.jpg" height="60" width="512" alt="Logo">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="topbar-devider"></li>   
                    <li><a href="/page_login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="active">
                        <a href="/" >
                            Home
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- About us -->                        
                    <li class="active">
                        <a href="/reservations?id=1" >
                            See Reservations
                        </a>
                    </li>
                    <!-- End About us -->

                    <!-- fleet                       
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Our Fleet
                        </a>
                    </li>
                    <!-- End fleet -->

                    <!-- Pricing -->                        
                    <li class="active">
                        <a href="/drivers?id=2271" >
                            Drivers
                        </a>
                    </li>
                    <!-- End Pricing -->

                    <!-- contact -->                        
                    <li class="active">
                        <a href="/admins">
                            Admins
                        </a>
                    </li>
                    <!-- End contact -->

                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Slider 
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>LUXURY</i> <br /> <i>CHAUFFEURED</i> <br /> <i>TRANSPORTAION</i></h2>
                <p><i>Complete solution for your</i> <br /> <i>ground transportaion in</i> <br /> <i>Greater New York Area.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/front-facing-luxury-sedan.png" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>Exceptional and</i> <br /> <i>Reliable Service.</i> </h2>
                <p><i>We only hire </i> <br /> <i>experienced drivers.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/service.jpg" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>WE BELIEVE IN</i> <br /> <i>SIMPLE AND</i> <br /> <i>TRANSPARENT PRICES.</i></h2>
                <p><i>We offer both</i> <br /> <i>flat and per-mile pricing.</i> <br /> <i>Know the price before you ride.</i></p>
                <div class="da-img"><img src="/static/assets/img/clear-pricing.jpg" alt="clear" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <!-- <div id="googleapi"> </div> -->
        <!-- Basic Form -->
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Driver Utilities</h3>
            </div>
            <div class="panel-body"> 
              <ul class="nav nav-tabs">
                <li class="active"><a href="#admin-stats" data-toggle="tab" aria-expanded="false">Administrative Statistics</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Current Reservations pane -->
                <div role="tabpanel" class="tab-pane active" id="admin-stats">
                    <button type="button" onClick=getCurrentReservations() class="btn-u btn-u-blue">Show Current Reservations</button>
                    <h4> Top 5 Most Frequent Customers </h4>
                    <div id="resultsTopFC"> </div>
                    <h4> Top 5 Most Frequent Drivers </h4>
                    <div id="resultsTopFD"> </div>
                    <h4> Top 5 Highest Ranked Drivers </h4>
                    <div id="resultsTopRD"> </div>
                    <h4> Bottom 5 Lowest Ranked Drivers </h4>
                    <div id="resultsLowRD"> </div>
                </div>
              </div>                                     
            </div>
        </div>
        <!-- End Basic Form -->



    	<!-- Recent Works -->
        <div class="headline"><h2>Services</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/airport1.jpg" alt="">
                        </div>					
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Airports</a></h3>
                        <p>We offer Pickup/Drop-off services at all major and local Airports in and around NYC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/cheap-limo-service.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Business</a></h3>
                        <p>We offer transportation solutions for travel arrangers, business travelers and package deliveries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/imgtc1.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Personal Travel</a></h3>
                        <p>We also welcome personal accounts and offer both short and extended rides.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/calender.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Recurring Rides</a></h3>
                        <p>Now you can book periodic rides without the hassle of booking each trip.</p>
                    </div>
                </div>
            </div>
        </div>
    	<!-- End Recent Works -->


        <!-- Large modal -->

        <div class="modal fade bs-example-modal-lg" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              ...
            </div>
          </div>
        </div>


    </div><!--/container-->
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; Databases Transportation Inc. All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/static/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#myModal').modal('show');
      	App.init();
        OwlCarousel.initOwlCarousel();        
        ParallaxSlider.initParallaxSlider();s
    });
    function get_reservations() {
        var data = {{ data| tojson }};
        return data.reservations;
    }
    function set_source(section) {
        document.getElementById("sectionID").value = section;
    }
</script>
<script type="text/javascript">
    function getCurrentReservations(){
        var reservations = get_reservations();
        var results = "<ul>";
        for(var i = 0; i < reservations.length; i++){
            if (reservations[i][4] == "hourly") {
                results = results + "<li><b>Passenger</b>: "+reservations[i][0]+" <b>Phone</b>: "+reservations[i][1]+" <b>Pickup Time</b>: "+reservations[i][2]+" "+reservations[i][3]+" <b>Type</b>: "+reservations[i][4]+" <b>Length</b>: "+reservations[i][5]+" hrs <b>Pick-Up</b>: "+reservations[i][6]+" <b>Drop-Off</b>: "+reservations[i][7]+" <b>Est. Amount</b>: $"+reservations[i][8]+"</li>";
            }
            else {
                results = results + "<li><b>Passenger</b>: "+reservations[i][0]+" <b>Phone</b>: "+reservations[i][1]+" <b>Pickup Time</b>: "+reservations[i][2]+" "+reservations[i][3]+" <b>Type</b>: "+reservations[i][4]+" <b>Distance</b>: "+reservations[i][5]+" hrs <b>Pick-Up</b>: "+reservations[i][6]+" <b>Drop-Off</b>: "+reservations[i][7]+" <b>Est. Amount</b>: $"+reservations[i][8]+" <b>Trip ID</b>: "+reservations[i][9]+"</li>";
            }
        }
        results = results + "</ul>";
        document.getElementById("results").innerHTML = results;
    }
</script>
<!--[if lt IE 9]>
    <script src="/static/assets/plugins/respond.js"></script>
    <script src="/static/assets/plugins/html5shiv.js"></script>
    <script src="/static/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>