<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Databases Transportation</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico">

    <!-- React JS -->
    <!-- React JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <!-- GOOGLE API JS -->
    <!-- <script type="text/jsx" src="/static/js/app.js"></script> -->

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/static/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/static/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/plugins/animate.css">
    <link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/theme-colors/blue.css"/>
</head>	

<body>
<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="/static/assets/img/logo.jpg" height="60" width="512" alt="Logo">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="topbar-devider"></li>   
                    <li><a href="/page_login.html"></a></li>   
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="active">
                        <a href="/" onclick=redirect()>
                            Home
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- About us -->                        
                    <li class="active">
                        <a href="/reservations" onclick=redirect() >
                            See Reservations
                        </a>
                    </li>
                    <!-- End About us -->

                    <!-- fleet                       
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Our Fleet
                        </a>
                    </li>
                    <!-- End fleet -->

                    <!-- Pricing -->                        
                    <li class="active">
                        <a href="/drivers" onclick=redirect() >
                            Drivers
                        </a>
                    </li>
                    <!-- End Pricing -->

                    <!-- contact -->                        
                    <li class="active">
                        <a href="/admins" onclick=redirect()>
                            Admins
                        </a>
                    </li>
                    <!-- End contact -->

                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Slider 
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>LUXURY</i> <br /> <i>CHAUFFEURED</i> <br /> <i>TRANSPORTAION</i></h2>
                <p><i>Complete solution for your</i> <br /> <i>ground transportaion in</i> <br /> <i>Greater New York Area.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/front-facing-luxury-sedan.png" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>Exceptional and</i> <br /> <i>Reliable Service.</i> </h2>
                <p><i>We only hire </i> <br /> <i>experienced drivers.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/service.jpg" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>WE BELIEVE IN</i> <br /> <i>SIMPLE AND</i> <br /> <i>TRANSPARENT PRICES.</i></h2>
                <p><i>We offer both</i> <br /> <i>flat and per-mile pricing.</i> <br /> <i>Know the price before you ride.</i></p>
                <div class="da-img"><img src="/static/assets/img/clear-pricing.jpg" alt="clear" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <!-- <div id="googleapi"> </div> -->
        <!-- Basic Form -->
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Driver Utilities</h3>
            </div>
            <div class="panel-body"> 
                <form class="margin-bottom-40" role="form">
                    <!-- hidden field for tracking section where button was clicked -->
                    <input type="hidden" name="sectionID">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#current-reservations" data-toggle="tab" aria-expanded="false">Current Reservations</a></li>
                    <li ><a href="#complete-trip" data-toggle="tab" aria-expanded="false">Enter Trip Info</a></li>
                    <li ><a href="#past-trips" data-toggle="tab" aria-expanded="false">Past Trips</a></li>
                    <li ><a href="#show-vehicles" data-toggle="tab" aria-expanded="false">Show Vehicles</a></li>
                    <li ><a href="#add-vehicle" data-toggle="tab" aria-expanded="false">Add Vehicle</a></li>
                    <li ><a href="#delete-vehicle" data-toggle="tab" aria-expanded="false">Remove Vehicle</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Current Reservations pane -->
                    <div role="tabpanel" class="tab-pane active" id="current-reservations">
                        <button type="button" onClick=getCurrentReservations() class="btn-u btn-u-blue">Show Current Reservations</button>
                        <div id="resResults"> </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="complete-trip">
                        <div class="form-group">
                              <label for="completedTrip">Trip ID</label>
                              <div id="completedTrip">
                                <input id="comptid" class="form-control" placeholder="Enter Completed Trip ID"
                               type="text" name="comptid"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="amountCharged">Amount Charged</label>
                              <div id="amountCharged">
                                <input id="tamtcharged" class="form-control" placeholder="Enter Amount Charged"
                               type="text" name="tamtcharged"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="paymentType">Payment Type (CASH, AMEX, VISA, MC)</label>
                              <div id="paymentType">
                                <input id="tpaytype" class="form-control" placeholder="Enter Payment Type"
                               type="text" name="tpaytype"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="passengerRating">Passenger Rating (0-5)</label>
                              <div id="passengerRating">
                                <input id="tpassrating" class="form-control" placeholder="Enter Passenger Rating"
                               type="text" name="tpassrating"></input>
                              </div>
                        </div>
                        <button type="button" onclick=completeTrip() class="btn-u btn-u-blue">Submit Trip Data</button>
                        <div id="compResults"> </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="past-trips"> 
                        <div class="form-group">
                              <label for="pastTimeFrom">From Date (YYYY-MM-DD)</label>
                              <div id="pastTimeFrom">
                                <input id="fromdate" class="form-control" placeholder="Enter From Date or Leave Blank For All"
                               type="text" name="fromdate"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="pastTimeTo">To Date (YYYY-MM-DD)</label>
                              <div id="pastTimeTo">
                                <input id="todate" class="form-control" placeholder="Enter To Date or Leave Blank For All"
                               type="text" name="todate"></input>
                              </div>
                        </div>
                        <button type="button" onclick=getPastTrips() class="btn-u btn-u-blue">Get Trips</button>
                        <div id="pastTripResults"> </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="show-vehicles">
                        <button type="button" onClick=showVehicles() class="btn-u btn-u-blue">Show Your Vehicles</button>
                        <div id="vehicleResults"> </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="add-vehicle">
                        <div class="form-group">
                              <label for="plate">License Plate</label>
                              <div id="plate">
                                <input id="platenum" class="form-control" placeholder="Enter Plate Number"
                               type="text" name="platenum"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="make">Make</label>
                              <div id="make">
                                <input id="vmake" class="form-control" placeholder="Enter Make"
                               type="text" name="vmake"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="model">Model</label>
                              <div id="model">
                                <input id="vmodel" class="form-control" placeholder="Enter Model"
                               type="text" name="vmodel"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="capacity">Capacity</label>
                              <div id="capacity">
                                <input id="vcapacity" class="form-control" placeholder="Enter Capacity"
                               type="text" name="vcapacity"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="class">Class (econ, lux, suplux, or suv)</label>
                              <div id="class">
                                <input id="vclass" class="form-control" placeholder="Enter Vehicle Class"
                               type="text" name="vclass"></input>
                              </div>
                        </div>
                        <button type="button" onclick=addVehicle() class="btn-u btn-u-blue">Add Vehicle</button>
                        <div id="addVehicleResult"> </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="delete-vehicle">
                        <div class="form-group">
                              <label for="deletePlate">License Plate</label>
                              <div id="deletePlate">
                                <input id="rmplate" class="form-control" placeholder="Enter Plate Number"
                               type="text" name="rmplate"></input>
                              </div>
                        </div>                                
                        <button type="button" onclick=deleteVehicle() class="btn-u btn-u-blue">Delete Vehicle</button>
                        <div id="deleteVehicleResult"> </div>
                    </div>
                  </div>
                </form>                                                   
            </div>
        </div>
        <!-- End Basic Form -->



    	<!-- Recent Works -->
        <div class="headline"><h2>Services</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/airport1.jpg" alt="">
                        </div>					
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Airports</a></h3>
                        <p>We offer Pickup/Drop-off services at all major and local Airports in and around NYC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/cheap-limo-service.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Business</a></h3>
                        <p>We offer transportation solutions for travel arrangers, business travelers and package deliveries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/imgtc1.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Personal Travel</a></h3>
                        <p>We also welcome personal accounts and offer both short and extended rides.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/calender.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Recurring Rides</a></h3>
                        <p>Now you can book periodic rides without the hassle of booking each trip.</p>
                    </div>
                </div>
            </div>
        </div>
    	<!-- End Recent Works -->


        <!-- Large modal -->

        <div class="modal fade bs-example-modal-lg" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              ...
            </div>
          </div>
        </div>


    </div><!--/container-->
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; Databases Transportation Inc. All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/static/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        // jQuery('#myModal').modal('show');
      	App.init();
        // OwlCarousel.initOwlCarousel();        
        // ParallaxSlider.initParallaxSlider();
    });
    function get_user(){
        var data = {{ data| tojson }};
        var user =  data.id;
        return user;
    }
    function redirect(e){
        e = e ||  window.event;
        var element = e.target || e.srcElement;
        var user = get_user();
        var href = element.href;
        if (user != null){
            href = href + '?id='+get_user()
        }
        e.preventDefault();
        window.location.href = href;
    }
</script>
<script type="text/javascript">
    function getCurrentReservations() {
        $.ajax({
        url: '/get-current-reservations?id=' + get_user(),
        dataType: 'json',
        success: function(data) {
            var reservations = data.data.reservations;
            if (reservations.length !== 0)
            {
                var results = "<ul>";
                for(var i = 0; i < reservations.length; i++){
                    if (reservations[i][4] == "hourly") {
                        results = results + "<li><b>Passenger</b>: "+reservations[i][0]+" <b>Phone</b>: "+reservations[i][1]+" <b>Pickup Time</b>: "+reservations[i][2]+" "+reservations[i][3]+" <b>Type</b>: "+reservations[i][4]+" <b>Length</b>: "+reservations[i][5]+" hrs <b>Pick-Up</b>: "+reservations[i][6]+" <b>Drop-Off</b>: "+reservations[i][7]+" <b>Est. Amount</b>: $"+reservations[i][8]+"</li>";
                    }
                    else {
                        results = results + "<li><b>Passenger</b>: "+reservations[i][0]+" <b>Phone</b>: "+reservations[i][1]+" <b>Pickup Time</b>: "+reservations[i][2]+" "+reservations[i][3]+" <b>Type</b>: "+reservations[i][4]+" <b>Distance</b>: "+reservations[i][5]+" hrs <b>Pick-Up</b>: "+reservations[i][6]+" <b>Drop-Off</b>: "+reservations[i][7]+" <b>Est. Amount</b>: $"+reservations[i][8]+" <b>Trip ID</b>: "+reservations[i][9]+"</li>";
                    }
                }
                results = results + "</ul>";
                document.getElementById("resResults").innerHTML = results;
            }
            else {
                document.getElementById("resResults").innerHTML = "You have no current reservations.";
            }
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
        });
    }

    function completeTrip() {
        var comp_tid = document.getElementById("comptid").value;
        var comp_amt = document.getElementById("tamtcharged").value;
        var comp_paytype = document.getElementById("tpaytype").value;
        var comp_rating = document.getElementById("tpassrating").value;
        $.ajax({
        url: '/complete-trip?id='+get_user()+"&comptid="+comp_tid+"&tamtcharged="+comp_amt+"&tpaytype="+comp_paytype+"&tpassrating="+comp_rating,
        dataType: 'json',
        success: function(data) {
            var error = data.data.error;
            if (error === 0)
            {
                var result = "Trip information successfully entered.";
                document.getElementById("compResults").innerHTML = result;
            }
            else {
                result = data.data.message;
                document.getElementById("compResults").innerHTML = result;
            }
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
        });
    }

    function getPastTrips() {
        var start = document.getElementById("fromdate").value;
        var end = document.getElementById("todate").value;
        $.ajax({
        url: '/get-past-trips?id='+get_user()+"&start="+start+"&end="+end,
        dataType: 'json',
        success: function(data) {
            var error = data.data.error;
            var trips = data.data.trips;
            if (error === 0 && trips.length !==0)
            {
                var results = "<ul>";
                for(var i = 0; i < trips.length; i++) {
                    results = results + "<li><b>Passenger</b>: "+trips[i][0]+" <b>Pickup Time</b>: "+trips[i][1]+" "+trips[i][2]+" <b>Est. Amount</b>: $"+trips[i][3]+" <b>Amt. Charged</b>: $"+trips[i][4]+" <b>Driver Rating</b>: "+trips[i][5]+" <b>Passenger Rating</b>: "+trips[i][6]+" <b>tid</b>: "+trips[i][7]+"</li>";
                }
                results = results + "</ul>";
                document.getElementById("pastTripResults").innerHTML = results;
            }
            else if (error === 0 && trips.length === 0)
            {
                document.getElementById("pastTripResults").innerHTML = "You have no past trips in the entered range.";
            }
            else {
                result = data.data.message;
                document.getElementById("pastTripResults").innerHTML = result;
            }
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
        });
    }

    function showVehicles() {
        $.ajax({
        url: '/show-vehicles?id=' + get_user(),
        dataType: 'json',
        success: function(data) {
            var vehicles = data.data.vehicles;
            if (vehicles.length !== 0)
            {
                var results = "<ul>";
                for(var i = 0; i < vehicles.length; i++){
                    results = results + "<li><b>License Plate</b>: "+vehicles[i][0]+" <b>Make</b>: "+vehicles[i][1]+" <b>Model</b>: "+vehicles[i][2]+" <b>Capacity</b>: "+vehicles[i][3]+" <b>Class</b>: "+vehicles[i][4]+"</li>";
                }
                results = results + "</ul>";
                document.getElementById("vehicleResults").innerHTML = results;
            }
            else {
                document.getElementById("vehicleResults").innerHTML = "You have no vehicles on file.";
            }
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
        });
    }

    function addVehicle() {
        var vplate = document.getElementById("platenum").value;
        var vmake = document.getElementById("vmake").value;
        var vmodel = document.getElementById("vmodel").value;
        var vcapacity = document.getElementById("vcapacity").value;
        var vclass = document.getElementById("vclass").value;
        $.ajax({
        url: '/add-vehicle?id='+get_user()+"&vplate="+vplate+"&vmake="+vmake+"&vmodel="+vmodel+"&vcapacity="+vcapacity+"&vclass="+vclass,
        dataType: 'json',
        success: function(data) {
            var error = data.data.error;
            if (error === 0)
            {
                var result = "Vehicle successfully added.";
                document.getElementById("addVehicleResult").innerHTML = result;
            }
            else {
                result = data.data.message;
                document.getElementById("addVehicleResult").innerHTML = result;
            }
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
        });
    }

    function deleteVehicle() {
        var vplate = document.getElementById("rmplate").value;
        $.ajax({
        url: '/delete-vehicle?id='+get_user()+"&vplate="+vplate,
        dataType: 'json',
        success: function(data) {
            var error = data.data.error;
            if (error === 0)
            {
                var result = "Vehicle successfully deleted.";
                document.getElementById("deleteVehicleResult").innerHTML = result;
            }
            else {
                result = data.data.message;
                document.getElementById("deleteVehicleResult").innerHTML = result;
            }
        }.bind(this),
        error: function(xhr, status, err) {
            console.error(this.props.url, status, err.toString());
        }.bind(this)
        });
    }
</script>
<!--[if lt IE 9]>
    <script src="/static/assets/plugins/respond.js"></script>
    <script src="/static/assets/plugins/html5shiv.js"></script>
    <script src="/static/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>