<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Databases Transportation</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico">

    <!-- React JS -->
    <!-- React JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <!-- GOOGLE API JS -->
    <!-- <script type="text/jsx" src="/static/js/app.js"></script> -->

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/static/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/static/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/plugins/animate.css">
    <link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/theme-colors/blue.css"/>
</head>	

<body>
<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="/static/assets/img/logo.jpg" height="60" width="512" alt="Logo">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="topbar-devider"></li>   
                    <li><a href="/page_login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="active">
                        <a href="/" >
                            Home
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- About us -->                        
                    <li class="active">
                        <a href="/reservations?id=1" >
                            See Reservations
                        </a>
                    </li>
                    <!-- End About us -->

                    <!-- fleet                       
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Our Fleet
                        </a>
                    </li>
                    <!-- End fleet -->

                    <!-- Pricing -->                        
                    <li class="active">
                        <a href="/drivers" >
                            Drivers
                        </a>
                    </li>
                    <!-- End Pricing -->

                    <!-- contact -->                        
                    <li class="active">
                        <a href="/admins">
                            Admins
                        </a>
                    </li>
                    <!-- End contact -->

                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Slider 
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>LUXURY</i> <br /> <i>CHAUFFEURED</i> <br /> <i>TRANSPORTAION</i></h2>
                <p><i>Complete solution for your</i> <br /> <i>ground transportaion in</i> <br /> <i>Greater New York Area.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/front-facing-luxury-sedan.png" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>Exceptional and</i> <br /> <i>Reliable Service.</i> </h2>
                <p><i>We only hire </i> <br /> <i>experienced drivers.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/service.jpg" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>WE BELIEVE IN</i> <br /> <i>SIMPLE AND</i> <br /> <i>TRANSPARENT PRICES.</i></h2>
                <p><i>We offer both</i> <br /> <i>flat and per-mile pricing.</i> <br /> <i>Know the price before you ride.</i></p>
                <div class="da-img"><img src="/static/assets/img/clear-pricing.jpg" alt="clear" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <!-- <div id="googleapi"> </div> -->
        <!-- Basic Form -->
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Driver Utilities</h3>
            </div>
            <div class="panel-body"> 
                <form class="margin-bottom-40" role="form">
                  <ul class="nav nav-tabs">
                    <li ><a href="/drivers" data-toggle="tab" aria-expanded="false">Current Reservations</a></li>
                    <li class="active"><a href="#complete-trip" data-toggle="tab" aria-expanded="false">Enter Trip Info</a></li>
                    <li ><a href="#past-trips" data-toggle="tab" aria-expanded="false">Past Trips</a></li>
                    <li ><a href="#add-vehicle" data-toggle="tab" aria-expanded="false">Add Vehicle</a></li>
                    <li ><a href="#delete-vehicle" data-toggle="tab" aria-expanded="false">Remove Vehicle</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Current Reservations pane -->
                    <div role="tabpanel" class="tab-pane" id="current-reservations">
                        <button type="button" onClick=getCurrentReservations() class="btn-u btn-u-blue">Show Current Reservations</button>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="complete-trip">
                        <form method="POST" action="/drivers_ct"> 
                            <div class="form-group">
                                  <label for="completedTrip">Trip ID</label>
                                  <div id="completedTrip">
                                    <input id="comptid" class="form-control" placeholder="Enter Completed Trip ID"
                                   type="text" name="comptid"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="amountCharged">Amount Charged</label>
                                  <div id="amountCharged">
                                    <input id="tamtcharged" class="form-control" placeholder="Enter Amount Charged"
                                   type="text" name="tamtcharged"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="paymentType">Payment Type</label>
                                  <div id="paymentType">
                                    <input id="tpaytype" class="form-control" placeholder="Enter Payment Type"
                                   type="text" name="tpaytype"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="passengerRating">Passenger Rating</label>
                                  <div id="passengerRating">
                                    <input id="tpassrating" class="form-control" placeholder="Enter Passenger Rating"
                                   type="text" name="tpassrating"></input>
                                  </div>
                            </div>
                            <button type="submit" class="btn-u btn-u-blue">Submit Trip Data</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="past-trips">
                        <form method="POST" action="/drivers_pt"> 
                            <div class="form-group">
                                  <label for="pastTimeFrom">From Date</label>
                                  <div id="pastTimeFrom">
                                    <input id="fromdate" class="form-control" placeholder="Enter From Date"
                                   type="text" name="fromdate"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="pastTimeTo">To Date</label>
                                  <div id="pastTimeTo">
                                    <input id="todate" class="form-control" placeholder="Enter To Date"
                                   type="text" name="todate"></input>
                                  </div>
                            </div>
                            <button type="submit" class="btn-u btn-u-blue">Submit Date Range</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="add-vehicle">
                        <form method="POST" action="/drivers_av">
                            <div class="form-group">
                                  <label for="plate">Plate Number</label>
                                  <div id="plate">
                                    <input id="platenum" class="form-control" placeholder="Enter Plate Number"
                                   type="text" name="platenum"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="make">Make</label>
                                  <div id="make">
                                    <input id="vmake" class="form-control" placeholder="Enter Make"
                                   type="text" name="vmake"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="model">Model</label>
                                  <div id="model">
                                    <input id="vmodel" class="form-control" placeholder="Enter Model"
                                   type="text" name="vmodel"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="capacity">Capacity</label>
                                  <div id="capacity">
                                    <input id="vcapacity" class="form-control" placeholder="Enter Capacity"
                                   type="text" name="vcapacity"></input>
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label for="class">Class</label>
                                  <div id="class">
                                    <input id="vclass" class="form-control" placeholder="Enter Vehicle Class"
                                   type="text" name="vclass"></input>
                                  </div>
                            </div>
                            <button type="submit" class="btn-u btn-u-blue">Add Vehicle</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="delete-vehicle">
                        <form method="POST" action="/drivers_dv">
                            <div class="form-group">
                                  <label for="deletePlate">Plate Number</label>
                                  <div id="deletePlate">
                                    <input id="rmplate" class="form-control" placeholder="Enter Vehicle Class"
                                   type="text" name="rmplate"></input>
                                  </div>
                            </div>                                
                            <button type="submit" class="btn-u btn-u-blue">Delete Vehicle</button>
                        </form>
                    </div>
                    <div id="results"> </div>
                  </div>
                </form>                                                   
            </div>
        </div>
        <!-- End Basic Form -->



    	<!-- Recent Works -->
        <div class="headline"><h2>Services</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/airport1.jpg" alt="">
                        </div>					
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Airports</a></h3>
                        <p>We offer Pickup/Drop-off services at all major and local Airports in and around NYC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/cheap-limo-service.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Business</a></h3>
                        <p>We offer transportation solutions for travel arrangers, business travelers and package deliveries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/imgtc1.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Personal Travel</a></h3>
                        <p>We also welcome personal accounts and offer both short and extended rides.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/calender.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Recurring Rides</a></h3>
                        <p>Now you can book periodic rides without the hassle of booking each trip.</p>
                    </div>
                </div>
            </div>
        </div>
    	<!-- End Recent Works -->


        <!-- Large modal -->

        <div class="modal fade bs-example-modal-lg" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              ...
            </div>
          </div>
        </div>


    </div><!--/container-->
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; Databases Transportation Inc. All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/static/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#myModal').modal('show');
      	App.init();
        OwlCarousel.initOwlCarousel();        
        ParallaxSlider.initParallaxSlider();

        // show results of insert of trip info
        data = {{data| tojson }};
        if (data.error == 0) {
            results = "<ul><li>Trip information successfully entered!</li></ul>";
        }
        else {
            results = "<ul><li>Error entering trip information: "+data.message+"</li></ul>";
        }
        document.getElementById("results").innerHTML = results;
    });
    
</script>
<!--[if lt IE 9]>
    <script src="/static/assets/plugins/respond.js"></script>
    <script src="/static/assets/plugins/html5shiv.js"></script>
    <script src="/static/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>