<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Databases Transportation</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico">

    <!-- React JS -->
    <!-- React JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <!-- GOOGLE API JS -->
    <script type="text/jsx" src="/static/js/app.js"></script>

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/static/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/static/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/plugins/animate.css">
    <link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/theme-colors/blue.css"/>
</head>	

<body>
<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="/">
                <img src="/static/assets/img/logo.jpg" height="84" width="512" alt="Logo">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="topbar-devider"></li>   
                    <li><a href="/page_login.html">Login</a></li>   
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Home
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- About us -->                        
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            About Us
                        </a>
                    </li>
                    <!-- End About us -->

                    <!-- fleet                       
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Our Fleet
                        </a>
                    </li>
                    <!-- End fleet -->

                    <!-- Pricing -->                        
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Pricing
                        </a>
                    </li>
                    <!-- End Pricing -->

                    <!-- contact -->                        
                    <li class="active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Contact Us
                        </a>
                    </li>
                    <!-- End contact -->

                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Slider 
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>LUXURY</i> <br /> <i>CHAUFFEURED</i> <br /> <i>TRANSPORTAION</i></h2>
                <p><i>Complete solution for your</i> <br /> <i>ground transportaion in</i> <br /> <i>Greater New York Area.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/front-facing-luxury-sedan.png" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>Exceptional and</i> <br /> <i>Reliable Service.</i> </h2>
                <p><i>We only hire </i> <br /> <i>experienced drivers.</i></p>
                <div class="da-img"><img class="img-responsive" src="/static/assets/img/service.jpg" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>WE BELIEVE IN</i> <br /> <i>SIMPLE AND</i> <br /> <i>TRANSPARENT PRICES.</i></h2>
                <p><i>We offer both</i> <br /> <i>flat and per-mile pricing.</i> <br /> <i>Know the price before you ride.</i></p>
                <div class="da-img"><img src="/static/assets/img/clear-pricing.jpg" alt="clear" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <div id="googleapi"> </div>
        <!-- Basic Form -->
        <div class="panel panel-blue margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Get a Quote</h3>
            </div>
            <div class="panel-body"> 
                <form class="margin-bottom-40" role="form">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#one-way" data-toggle="tab" aria-expanded="false">One Way</a></li>
                    <li ><a href="#hourly" data-toggle="tab" aria-expanded="false">Hourly</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="one-way">
                        <div class="form-group">
                              <label for="exampleInputEmail1">Pick-Up Location</label>
                              <div id="locationField">
                                <input id="autocomplete" class="form-control" placeholder="Enter Address or Airport Code"
                               onFocus=geolocate() type="text"></input>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputPassword1">Drop-Off Location</label>
                              <div id="locationField">
                                <input id="autocomplete2" class="form-control" placeholder="Enter Address or Airport Code"
                               onFocus=geolocate() type="text"></input>
                              </div>
                          </div>
                          <button type="submit" class="btn-u btn-u-blue">Calculate Prices</button>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="hourly">
                        <div class="form-group">
                              <label for="exampleInputEmail1">Pick-Up Location</label>
                              <div id="locationField">
                                <input id="autocomplete" class="form-control" placeholder="Enter Address or Airport Code"
                               onFocus=geolocate() type="text"></input>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="exampleInputEmail1">Number of hours</label>
                              <input id="hours" class="form-control" placeholder="Enter the number of hours"
                               type="number"></input>
                        </div>
                        <button type="submit" class="btn-u btn-u-blue">Calculate Prices</button>
                    </div>
                  </div>
                </form>                                                    
            </div>
        </div>
        <!-- End Basic Form -->



    	<!-- Recent Works -->
        <div class="headline"><h2>Services</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                	<div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/airport1.jpg" alt="">
                        </div>					
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Airports</a></h3>
                        <p>We offer Pickup/Drop-off services at all major and local Airpots in and around NYC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/cheap-limo-service.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Business</a></h3>
                        <p>We offer transportation solutions for travel arrangers, business travelers and package deliveries.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/imgtc1.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Personal Travel</a></h3>
                        <p>We also welcome personal accounts and offer both short and extended rides.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="/static/assets/img/calender.jpg" alt="">
                        </div>                  
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="#">Recurring Rides</a></h3>
                        <p>Now you can book periodic rides without the hassle of booking each trip.</p>
                    </div>
                </div>
            </div>
        </div>
    	<!-- End Recent Works -->


    </div><!--/container-->
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2015 &copy; Databases Transportation Inc. All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>
                </div>
            </div> 
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/static/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/static/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="/static/assets/js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        OwlCarousel.initOwlCarousel();        
        ParallaxSlider.initParallaxSlider();
    });
</script>
<script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
      var placeSearch, autocomplete, autocomplete2;

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        var input = document.getElementById('autocomplete');
        var input2 = document.getElementById('autocomplete2');
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */input,
            {types: ['geocode']});
        autocomplete2 = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */input2,
            {types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
        autocomplete2.addListener('place_changed', fillInAddress2);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
      }

      function fillInAddress2() {
        // Get the place details from the autocomplete object.
        var place = autocomplete2.getPlace();
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHOqzhoqG4uUPgI62szNJ9S2PslgVC2DM&libraries=places&callback=initAutocomplete"
        async defer></script>
<!--[if lt IE 9]>
    <script src="/static/assets/plugins/respond.js"></script>
    <script src="/static/assets/plugins/html5shiv.js"></script>
    <script src="/static/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>